body {
    margin: 0;
}

#sky, #building-container {
    width: 100vw
}

#sky {
    background-color: black;
    height: 100vh;
}

.star {
    background-color: white;
    height: 2px;
    width: 2px;
    position: absolute;
}

#building-container {
    background-color: transparent;
    height: 45vh;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.building {
    background-color: black;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    z-index: 2;
}

.window-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.window {
    background-color: black;
}

.window.on {
    background: white;
}
