body {
    margin: 0;
    overflow: hidden;
}

#sky, #building-container {
    width: 100vw
}

#sky {
    background-color: black;
    height: 100vh;
}

.star {
    background-color: white;
    height: 2px;
    width: 2px;
    position: absolute;
    z-index: 0;
}

.star.red {
    background-color: red;
}

.star.green {
    background-color: green;
}

.star.blue {
    background-color: blue;
}

#building-container {
    background-color: transparent;
    height: 50vh;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.building {
    background-color: black;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding-bottom: 5px;
    position: absolute;
    bottom: 0;
    z-index: 2;
}

.window-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.window {
    background-color: black;
}

.window.on {
    background: yellow;
    box-shadow: 0 0 1px 1px yellow;
}
